<!--<div class="container">-->
<!--    <div id="new-blog-link">-->
<!--        <%#= link_to '新規にブログを作成する', new_blog_path %>-->
<!--    </div>-->
    
<!--    <%# @blogs.each do |blog| %>-->
<!--    <div class="blog-panel">-->
<!--        <h2><%#= blog.title %></h2>-->
<!--        <p><%#= blog.content %></p>-->
<!--        <div class="blog_links">-->
<!--            <%#= link_to 'Show', blog, class: 'btn btn_default' %>-->
<!--            <%#= link_to 'Edit', edit_blog_path(blog), class: 'btn btn_info' %>-->
<!--            <%#= link_to 'Destroy', blog, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn_danger' %>-->
<!--        </div>-->
<!--    </div>-->
<!--    <%# end %>-->
<!--</div>-->

<img src="/assets/top.png">
<h1>Blog application</h1>
<%= link_to 'Click here to start', blogdates_blogs_path, class: "label label-default" %>
<p class="detail">ブログアプリケーションです。</p>
