<div class="user_page">
    <%= image_tag @user.image %>
    <h1><%= @user.name %>のページ</h1>

</div>
    <p>メールアドレス：<%= @user.email %></p><br>
<div>
    <h2>お気に入り一覧</h2>
    <% @favorites_blogs.each do |favorite_blog| %>
        <p><%= link_to "#{favorite_blog.blog.title}", blog_path(id: favorite_blog.blog_id) %></p>
    <% end %>
</div>